html, body {
  margin: 0;
  padding: 0;
  background-color: #131313;
}



.container {

  margin:auto;
  padding: 0;
  width: 1024px;
  height: 1560px;

}

.acanvas {

  margin:auto;
  padding: 0;
  width: 200px;
  height: 780px;

}
